.custom-toolbar {
    height: 10vh;
}

.navbar-logo img {
    max-width: 150px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.navbar-links a {
    text-decoration: none;
    padding: 10px;
}

.navbar-links a:hover {
    background-color: #555;
}

/* Hide navbar links on mobile */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-logo img {
        max-width: 100px;
    }
}
